*.targets
*.props
*.csproj.*.txt
*.AssemblyInfo.cs
*.dll
*.json
*.cache
*.pdb
*.pdf
Algorithms/Algorithms-II/Directed-Graphs/bin/
Algorithms/Algorithms-II/Directed-Graphs/obj/
Algorithms/Algorithms-II/Minimum-Spanning-Trees/bin/
Algorithms/Algorithms-II/Minimum-Spanning-Trees/obj/
Algorithms/Algorithms-II/Undirected-Graphs/bin/
Algorithms/Algorithms-II/Undirected-Graphs/obj/
Algorithms/Algorithms-I/Sorts/obj/
Algorithms/Algorithms-I/Union/obj/
Algorithms/Algorithms-II/ShortestPaths/bin/
Algorithms/Algorithms-II/ShortestPaths/obj/
Algorithms/Algorithms-I/HashTables/bin/
Algorithms/Algorithms-I/HashTables/mini_file.txt
Algorithms/Algorithms-I/HashTables/obj/
Algorithms/Algorithms-I/PriorityQueues/bin/
Algorithms/Algorithms-I/PriorityQueues/obj/
Algorithms/Algorithms-I/SymbolTables/bin/
Algorithms/Algorithms-I/SymbolTables/obj/
DesignPatterns/DesignPatterns_Behavioral/bin
DesignPatterns/DesignPatterns_Behavioral/obj
DesignPatterns/DesignPatterns_Structural/obj
DesignPatterns/DesignPatterns_Structural/bin
DesignPatterns/DesignPatterns_Creational/obj
DesignPatterns/DesignPatterns_Creational/bin
Practice/CSharp/CrackingCodingInterview/bin
Practice/CSharp/CrackingCodingInterview/obj
HackerRank/bin/
HackerRank/obj/
LeetCode/C#/bin/
LeetCode/C#/obj/

