*.targets
*.props
*.csproj.*.txt
*.AssemblyInfo.cs
*.dll
*.json
*.cache
*.pdb
*.pdf
Algorithms-II/Directed-Graphs/bin/
Algorithms-II/Directed-Graphs/obj/
Algorithms-II/Minimum-Spanning-Trees/bin/
Algorithms-II/Minimum-Spanning-Trees/obj/
Algorithms-II/Undirected-Graphs/bin/
Algorithms-II/Undirected-Graphs/obj/
Algorithms/HashTables/bin/
Algorithms/HashTables/mini_file.txt
Algorithms/HashTables/obj/
Algorithms/PriorityQueues/bin/
Algorithms/PriorityQueues/obj/
Algorithms/SymbolTables/bin/
Algorithms/SymbolTables/obj/

