*.targets
*.props
*.csproj.*.txt
*.AssemblyInfo.cs
*.dll
*.json
*.cache
*.pdb
*.pdf
Algorithms/Algorithms-II/Directed-Graphs/bin/
Algorithms/Algorithms-II/Directed-Graphs/obj/
Algorithms/Algorithms-II/Minimum-Spanning-Trees/bin/
Algorithms/Algorithms-II/Minimum-Spanning-Trees/obj/
Algorithms/Algorithms-II/Undirected-Graphs/bin/
Algorithms/Algorithms-II/Undirected-Graphs/obj/
Algorithms/Algorithms-I/Sorts/obj/
Algorithms/Algorithms-I/Union/obj/
Algorithms/Algorithms-II/ShortestPaths/bin/
Algorithms/Algorithms-II/ShortestPaths/obj/
Algorithms/Algorithms-I/HashTables/bin/
Algorithms/Algorithms-I/HashTables/mini_file.txt
Algorithms/Algorithms-I/HashTables/obj/
Algorithms/Algorithms-I/PriorityQueues/bin/
Algorithms/Algorithms-I/PriorityQueues/obj/
Algorithms/Algorithms-I/SymbolTables/bin/
Algorithms/Algorithms-I/SymbolTables/obj/
Algorithms/Algorithms-II/RadixSort/bin/
Algorithms/Algorithms-II/RadixSort/obj/
Algorithms/Algorithms-II/Tries/bin/
Algorithms/Algorithms-II/Tries/obj/
DesignPatterns/DesignPatterns_Behavioral/bin
DesignPatterns/DesignPatterns_Behavioral/obj
DesignPatterns/DesignPatterns_Structural/obj
DesignPatterns/DesignPatterns_Structural/bin
DesignPatterns/DesignPatterns_Creational/obj
DesignPatterns/DesignPatterns_Creational/bin
Practice/CSharp/CrackingCodingInterview/bin
Practice/CSharp/CrackingCodingInterview/obj
HackerRank/bin/
HackerRank/obj/
LeetCode/C#/bin/
LeetCode/C#/obj/
Algorithms/Algorithms-I/3SUM/obj/
Algorithms/Algorithms-I/3SUM/bin/
Practice/CSharp/CsharpBasics/CSharpTest/obj/
Practice/CSharp/CsharpBasics/CSharpTest/bin/
Practice/CSharp/Dynamic,Greedy,backtracking/DynamicGreedyBackTracking/obj/
Practice/CSharp/Dynamic,Greedy,backtracking/DynamicGreedyBackTracking/bin/
Practice/CSharp/Dynamic,Greedy,backtracking/DynamicProgramming.Tests/obj/
Practice/CSharp/Dynamic,Greedy,backtracking/DynamicProgramming.Tests/bin/
Practice/CSharp/LeetCode2/LeetCode2Test/obj/
Practice/CSharp/LeetCode2/LeetCode2Test/bin/
Practice/CSharp/Practise/obj/
Practice/CSharp/Practise/bin/
Algorithms/Algorithms-I/Stacks_and_Queues/obj/
Algorithms/Algorithms-I/Stacks_and_Queues/bin/
Practice/CSharp/interview/obj/
Practice/CSharp/interview/bin/
Practice/CSharp/LeetCode2/LeetCode2/obj/
Practice/CSharp/LeetCode2/LeetCode2/bin/
Practice/CSharp/CsharpBasics/CSharp/bin/
Practice/CSharp/CsharpBasics/CSharp/obj/
Practice/CSharp/webservice/obj/
Practice/CSharp/webservice/bin/
Practice/CSharp/timeproject/obj/
Practice/CSharp/timeproject/bin/
Practice/CSharp/TimeProjectFull/test/obj/
Practice/CSharp/TimeProjectFull/test/bin/
Practice/CSharp/TimeProjectFull/src/bin/
Practice/CSharp/TimeProjectFull/src/obj/
SystemDesign/LLD/ParkingLot/obj/
SystemDesign/LLD/ParkingLot/bin/
SystemDesign/LLD/ParkingLot/ParkingLot/obj
SystemDesign/LLD/ParkingLot/ParkingLot/bin
SystemDesign/LLD/ParkingLot/ParkingLotTest/obj/
SystemDesign/LLD/ParkingLot/ParkingLotTest/bin/
Practice/Interviews/interview3/obj/
Practice/Interviews/interview/bin/
Practice/Interviews/interview2/obj/
Practice/Interviews/interview2/bin/
SystemDesign/LLD/HotelManagement/obj/
SystemDesign/LLD/HotelManagement/bin/
Practice/Interviews/interview5/atmdesign/obj/
Practice/Interviews/interview5/atmdesign/bin/
Practice/Interviews/interview5/atmdesigntest/obj/
Practice/Interviews/interview5/atmdesigntest/bin/